<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.motiongesture"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_v2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circle_icon"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme"
        >

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ShakeService"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true"/>

        <service
            android:name=".FlipUpService"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true"/>

        <service
            android:name=".FlipDownService"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true"/>

        <service
            android:name=".WristTwistService"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true"/>

        <service
            android:name=".WaveService"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true"/>

        <service
            android:name=".PickUpService"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_interstitial_id"/>

    </application>

</manifest>